body {
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button {
    margin: 5px;
    font-size: 24px;
    color: white;
    background-color: black;
    text-align: center;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
