/* General body styling for all game pages */
.body-game {
    background-color: #808080;
    height: 100vh;
    margin: 0;
}

/* Game container */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Game grid styling */
.board {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px); /* Adjust based on tile size */
    gap: 10px; /* Add spacing between tiles */
    justify-content: center;
    align-items: center;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 15px;
    background-color: #ccc;
    color: black;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.tile::before {
    content: attr(data-value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.new-tile {
    animation: fade-in 0.5s ease;
}

@keyframes fade-in {
    0% {
        background-color: yellow;
    }
    100% {
        background-color: #eee4da; 
    }
}

/* Game over screen */
.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}